/* artist archive page styling */
.artist__gallery {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.artist__card {
  width: 300px;
  margin-bottom: 50px;
}

.artist__name {
  font-size: 2.0rem;
  margin: 40px 0 10px 0;
}

.artist__link {
  font-size: 1.6rem;
  text-decoration: underline;
}


/* single artist page styling */
.artist__about {
  width: 50%;
}

.artist__about h2 {
  margin: 50px auto 30px auto;
}

.artist__about p {
  line-height: 1.5;
  margin-bottom: 100px;
}

.artist__about {
  width: 50%;
}

.related__section {
  width: 50%;
  margin-bottom: 20px;
}

.section__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
