/* artist archive page styling */
.artist__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 500px; */
  gap: 40px;
  justify-content: stretch;
}

.artist__name {
  font-size: 2.0rem;
  margin: 40px 0 10px 0;
}

.artist__link {
  font-size: 1.6rem;
  text-decoration: underline;
}


/* single artist page styling */
.artist__about {
  width: 50%;
}

.artist__about h2 {
  margin: 50px auto 30px auto;
}

.artist__about p {
  line-height: 1.5;
  margin-bottom: 100px;
}

.artist__about {
  width: 50%;
}

.related__section {
  width: 50%;
  margin-bottom: 20px;
}

.section__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
