/* artist archive page styling */
.artist__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px;
  gap: 40px;
  justify-content: stretch;
}

.artist__card {

}

.artist__link {
  
}


/* single artist page styling */