/* TODO
  create masonry layout
*/

/* places archive page styling */
.places__gallery {
  display: flex;
  flex-wrap: wrap;
}

.place__card {
  width: calc(50% - 10px);
  /* height: 100%; */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__card:nth-child(1),
.place__card:nth-child(3) {
  margin-right: 20px;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  /* width: 100%; */
  /* max-height: 700px; */
}

.place__name {
  font-size: 2.0rem;
  text-align: center;
  margin: 40px 0 20px 0;
}

.place__link {
  font-size: 1.6rem;
  text-decoration: underline;
}


/* single place page styling */
.place p {
  width: 50%;
  margin: 20px auto;
  line-height: 1.5;
}

.related__artists {
  margin: 50px auto;
  width: 70%;
}

.gallery__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}


.related__artists-gallery {
  display: flex;
  justify-content: space-evenly;
}

.related__artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.related__artist-link {
  margin-top: 10px;
}

.related__artist-image {
  width: 200px;
}